<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Instrumentos Boutique</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header>
        <div class="logo"><h1>INST. BOUTIQUE</h1></div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Registro</a></li>
                <li><a href="productCart.html">🛒</a></li>
            </ul>
        </nav>
    </header>
    <main class="login-container">
        <section class="auth-card">
            <h2>Crear Cuenta</h2>
            <form action="login.html">
                <div class="form-group"><label>Nombre</label><input type="text"></div>
                <div class="form-group"><label>Email</label><input type="email"></div>
                <div class="form-group"><label>Password</label><input type="password"></div>
                <button type="submit" class="btn-boutique">Registrarme</button>
            </form>
        </section>
    </main>
    <footer><p>&copy; 2026 Instrumentos Boutique</p></footer>
</body>
</html>